pricegrabber-domain/src/main/resources/xsd/search-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://pricegrabber.rlviana.net/domain/search" targetNamespace="http://pricegrabber.rlviana.net/domain/search"
   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:complexType name="abstract-search-criteria" abstract="true">
      <xs:sequence>
         <xs:element name="firstResult" type="xs:int"/>
         <xs:element name="maxResult" type="xs:int"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>