pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/itemService.wsdl

<wsdl:definitions
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:wsp="http://www.w3.org/ns/ws-policy"
   xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://pricegrabber.rlviana.net/ws/service/item"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:ex="http://pricegrabber.rlviana.net/ws/service/exception"
   targetNamespace="http://pricegrabber.rlviana.net/ws/service/item"
    name="ItemService"
>
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://pricegrabber.rlviana.net/ws/service/item"
            schemaLocation="../xsd/itemService.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="list">
      <wsdl:part name="parameters" element="tns:listItems"/>
   </wsdl:message>
   <wsdl:message name="listResponse">
      <wsdl:part name="parameters" element="tns:listItemsResponse"/>
   </wsdl:message>
   <wsdl:message name="delete">
      <wsdl:part name="parameters" element="tns:deleteItem"/>
   </wsdl:message>
   <wsdl:message name="deleteResponse">
      <wsdl:part name="parameters" element="tns:deleteItemResponse"/>
   </wsdl:message>
   <wsdl:message name="search">
      <wsdl:part name="parameters" element="tns:searchItems"/>
   </wsdl:message>
   <wsdl:message name="searchResponse">
      <wsdl:part name="parameters" element="tns:searchItemsResponse"/>
   </wsdl:message>
   <wsdl:message name="create">
      <wsdl:part name="parameters" element="tns:createItem"/>
   </wsdl:message>
   <wsdl:message name="createResponse">
      <wsdl:part name="parameters" element="tns:createItemResponse"/>
   </wsdl:message>
   <wsdl:message name="update">
      <wsdl:part name="parameters" element="tns:updateItem"/>
   </wsdl:message>
   <wsdl:message name="updateResponse">
      <wsdl:part name="parameters" element="tns:updateItemResponse"/>
   </wsdl:message>
   <wsdl:message name="findById">
      <wsdl:part name="parameters" element="tns:findItemById"/>
   </wsdl:message>
   <wsdl:message name="findByIdResponse">
      <wsdl:part name="parameters" element="tns:findItemByIdResponse"/>
   </wsdl:message>
   <wsdl:portType name="ItemPortType">
      <wsdl:operation name="listItems">
         <wsdl:input message="tns:list"/>
         <wsdl:output message="tns:listResponse"/>
      </wsdl:operation>
      <wsdl:operation name="deleteItem">
         <wsdl:input message="tns:delete"/>
         <wsdl:output message="tns:deleteResponse"/>
      </wsdl:operation>
      <wsdl:operation name="searchItems">
         <wsdl:input message="tns:search"/>
         <wsdl:output message="tns:searchResponse"/>
      </wsdl:operation>
      <wsdl:operation name="createItem">
         <wsdl:input message="tns:create"/>
         <wsdl:output message="tns:createResponse"/>
      </wsdl:operation>
      <wsdl:operation name="updateItem">
         <wsdl:input message="tns:update"/>
         <wsdl:output message="tns:updateResponse"/>
      </wsdl:operation>
      <wsdl:operation name="findItemById">
         <wsdl:input message="tns:findById"/>
         <wsdl:output message="tns:findByIdResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ItemBinding" type="tns:ItemPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="listItems">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/listItems"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output> 
      </wsdl:operation>
      <wsdl:operation name="deleteItem">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/deleteItem"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="searchItems">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/searchItems"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="createItem">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/createItem"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateItem">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/updateItem"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findItemById">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/findItemById"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ItemService">
      <wsdl:port name="ItemPort" binding="tns:ItemBinding">
         <soap:address location="/soap/item"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>