pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/ItemService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://pricegrabber.rlviana.net/ws/service/item" name="ItemService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://pricegrabber.rlviana.net/ws/service/item" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/common" xmlns:ns2="http://pricegrabber.rlviana.net/domain/response" xmlns:ns1="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:element name="country-find-response" type="tns:country-find-response"/>

      <xs:element name="currency-find-response" type="tns:currency-find-response"/>

      <xs:element name="language-find-response" type="tns:language-find-response"/>

      <xs:complexType name="currency-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:currency" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:country" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:language" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="id-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="id" type="xs:long" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entity-base">
        <xs:sequence>
          <xs:element name="lock-version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cod-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="cod" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/core" xmlns:ns4="http://pricegrabber.rlviana.net/domain/response" xmlns:ns3="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://pricegrabber.rlviana.net/domain/entity/common">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:element name="item-find-response" type="tns:item-find-response"/>

      <xs:element name="item-response" type="tns:item-response"/>

      <xs:element name="item-type-find-response" type="tns:item-type-find-response"/>

      <xs:element name="item-type-response" type="tns:item-type-response"/>

      <xs:element name="promotion-find-response" type="tns:promotion-find-response"/>

      <xs:element name="promotion-response" type="tns:promotion-response"/>

      <xs:element name="site-find-response" type="tns:site-find-response"/>

      <xs:element name="site-item-datum-find-response" type="tns:site-item-datum-find-response"/>

      <xs:element name="site-item-datum-response" type="tns:site-item-datum-response"/>

      <xs:element name="site-item-find-response" type="tns:site-item-find-response"/>

      <xs:element name="site-item-response" type="tns:site-item-response"/>

      <xs:element name="site-response" type="tns:site-response"/>

      <xs:complexType name="item-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns3:item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns3:site" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns3:item-type" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns3:site-item-datum" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns3:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns3:promotion" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-find-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns3:item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-find-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns3:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-find-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns3:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-find-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns3:site" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-find-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns3:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-find-response">
        <xs:complexContent>
          <xs:extension base="ns4:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns3:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response" xmlns:tns="http://pricegrabber.rlviana.net/domain/response" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="message" type="tns:message"/>

      <xs:complexType name="abstract-entity-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime"/>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="message">
        <xs:sequence>
          <xs:element name="messageType" type="tns:message-type"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="messageKey" type="xs:string"/>
          <xs:element name="property" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstract-entity-find-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="count" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="message-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="INFO"/>
          <xs:enumeration value="WARN"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FATAL"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/item" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns6="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns7="http://pricegrabber.rlviana.net/domain/response/core" xmlns:ns8="http://pricegrabber.rlviana.net/domain/search/core">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/search/core"/>

      <xs:element name="createItem" type="tns:createItem"/>

      <xs:element name="createItemResponse" type="tns:createItemResponse"/>

      <xs:element name="deleteItem" type="tns:deleteItem"/>

      <xs:element name="deleteItemResponse" type="tns:deleteItemResponse"/>

      <xs:element name="findItemById" type="tns:findItemById"/>

      <xs:element name="findItemByIdResponse" type="tns:findItemByIdResponse"/>

      <xs:element name="listItems" type="tns:listItems"/>

      <xs:element name="listItemsResponse" type="tns:listItemsResponse"/>

      <xs:element name="searchItems" type="tns:searchItems"/>

      <xs:element name="searchItemsResponse" type="tns:searchItemsResponse"/>

      <xs:element name="updateItem" type="tns:updateItem"/>

      <xs:element name="updateItemResponse" type="tns:updateItemResponse"/>

      <xs:complexType name="findItemByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns7:item-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findItemById">
        <xs:sequence>
          <xs:element name="itemId" type="xs:long" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchItemsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns7:item-find-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createItemResponse">
        <xs:sequence>
          <xs:element name="return" type="ns7:item-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateItem">
        <xs:sequence>
          <xs:element ref="ns6:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateItemResponse">
        <xs:sequence>
          <xs:element name="return" type="ns7:item-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listItemsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns7:item-find-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createItem">
        <xs:sequence>
          <xs:element ref="ns6:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listItems">
        <xs:sequence>
          <xs:element name="criteria" type="ns8:item-search-criteria" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractSearchCriteria" abstract="true">
        <xs:sequence>
          <xs:element name="firstResult" type="xs:int"/>
          <xs:element name="maxResults" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteItem">
        <xs:sequence>
          <xs:element name="itemId" type="xs:long" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteItemResponse">
        <xs:sequence>
          <xs:element name="return" type="ns7:item-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchItems">
        <xs:sequence>
          <xs:element name="criteria" type="ns8:item-search-criteria" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceFault">
        <xs:sequence>
          <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
          <xs:element name="faultString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/item"/>

      <xs:element name="ServiceException" nillable="true" type="tns:serviceFault"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns9="http://pricegrabber.rlviana.net/domain/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="country" type="tns:country"/>

      <xs:element name="currency" type="tns:currency"/>

      <xs:element name="language" type="tns:language"/>

      <xs:complexType name="currency">
        <xs:complexContent>
          <xs:extension base="ns9:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country">
        <xs:complexContent>
          <xs:extension base="ns9:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language">
        <xs:complexContent>
          <xs:extension base="ns9:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns10="http://pricegrabber.rlviana.net/domain/entity" xmlns:ns11="http://pricegrabber.rlviana.net/domain/entity/common">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="item-type" type="tns:item-type"/>

      <xs:element name="promotion" type="tns:promotion"/>

      <xs:element name="site" type="tns:site"/>

      <xs:element name="site-item" type="tns:site-item"/>

      <xs:element name="site-item-datum" type="tns:site-item-datum"/>

      <xs:complexType name="item">
        <xs:complexContent>
          <xs:extension base="ns10:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element ref="tns:item-type"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type">
        <xs:complexContent>
          <xs:extension base="ns10:id-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="itemTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum">
        <xs:complexContent>
          <xs:extension base="ns10:id-entity-base">
            <xs:sequence>
              <xs:element name="availability" type="xs:string" minOccurs="0"/>
              <xs:element name="price-type" type="tns:price-type" minOccurs="0"/>
              <xs:element name="price-currency" type="ns11:currency"/>
              <xs:element name="price-date" type="xs:dateTime"/>
              <xs:element name="price-value" type="xs:string"/>
              <xs:element ref="tns:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item">
        <xs:complexContent>
          <xs:extension base="ns10:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="site-cod" type="xs:string"/>
              <xs:element ref="tns:item-type"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="tns:site"/>
              <xs:element ref="tns:item" minOccurs="0"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-item-data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="current-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="lowest-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="highest-price" type="tns:site-item-price" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site">
        <xs:complexContent>
          <xs:extension base="ns10:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="ns11:country" minOccurs="0"/>
              <xs:element name="base-currency" type="ns11:currency"/>
              <xs:element name="base-language" type="ns11:language"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion">
        <xs:complexContent>
          <xs:extension base="ns10:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string" minOccurs="0"/>
              <xs:element name="active" type="xs:boolean" minOccurs="0"/>
              <xs:element name="begin-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-price">
        <xs:sequence>
          <xs:element name="price-currency" type="ns11:currency"/>
          <xs:element name="price-date" type="xs:dateTime"/>
          <xs:element name="price-value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="price-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="REGULAR_PRICE"/>
          <xs:enumeration value="DISCOUNT_PRICE"/>
          <xs:enumeration value="SPECIAL_PRICE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/search/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/search/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://pricegrabber.rlviana.net/ws/service/item">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/item"/>

      <xs:element name="item-search-criteria" type="tns:item-search-criteria"/>

      <xs:complexType name="item-search-criteria">
        <xs:complexContent>
          <xs:extension base="ns12:abstractSearchCriteria">
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="listItems">
    <part name="parameters" element="tns:listItems"/>
  </message>
  <message name="listItemsResponse">
    <part name="parameters" element="tns:listItemsResponse"/>
  </message>
  <message name="ServiceException">
    <part name="fault" element="ns13:ServiceException" xmlns:ns13="http://pricegrabber.rlviana.net/ws/service/exception"/>
  </message>
  <message name="deleteItem">
    <part name="parameters" element="tns:deleteItem"/>
  </message>
  <message name="deleteItemResponse">
    <part name="parameters" element="tns:deleteItemResponse"/>
  </message>
  <message name="createItem">
    <part name="parameters" element="tns:createItem"/>
  </message>
  <message name="createItemResponse">
    <part name="parameters" element="tns:createItemResponse"/>
  </message>
  <message name="searchItems">
    <part name="parameters" element="tns:searchItems"/>
  </message>
  <message name="searchItemsResponse">
    <part name="parameters" element="tns:searchItemsResponse"/>
  </message>
  <message name="updateItem">
    <part name="parameters" element="tns:updateItem"/>
  </message>
  <message name="updateItemResponse">
    <part name="parameters" element="tns:updateItemResponse"/>
  </message>
  <message name="findItemById">
    <part name="parameters" element="tns:findItemById"/>
  </message>
  <message name="findItemByIdResponse">
    <part name="parameters" element="tns:findItemByIdResponse"/>
  </message>
  <portType name="ItemPortType">
    <operation name="listItems">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/listItems" message="tns:listItems"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/listItemsResponse" message="tns:listItemsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/listItems/Fault/ServiceException"/>
    </operation>
    <operation name="deleteItem">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/deleteItem" message="tns:deleteItem"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/deleteItemResponse" message="tns:deleteItemResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/deleteItem/Fault/ServiceException"/>
    </operation>
    <operation name="createItem">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/createItem" message="tns:createItem"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/createItemResponse" message="tns:createItemResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/createItem/Fault/ServiceException"/>
    </operation>
    <operation name="searchItems">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/searchItems" message="tns:searchItems"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/searchItemsResponse" message="tns:searchItemsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/searchItems/Fault/ServiceException"/>
    </operation>
    <operation name="updateItem">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/updateItem" message="tns:updateItem"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/updateItemResponse" message="tns:updateItemResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/updateItem/Fault/ServiceException"/>
    </operation>
    <operation name="findItemById">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/findItemById" message="tns:findItemById"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/findItemByIdResponse" message="tns:findItemByIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/item/ItemPortType/findItemById/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="ItemPortBinding" type="tns:ItemPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listItems">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/listItems"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteItem">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/deleteItem"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createItem">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/createItem"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchItems">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/searchItems"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateItem">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/updateItem"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findItemById">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/findItemById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ItemService">
    <port name="ItemPort" binding="tns:ItemPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

