pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/promotionService.wsdl

<wsdl:definitions
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://pricegrabber.rlviana.net/ws/service/promotion" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pricegrabber.rlviana.net/ws/service/promotion"
   name="PromotionService"
>
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://pricegrabber.rlviana.net/ws/service/promotion"
            schemaLocation="../xsd/promotionService.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="list">
      <wsdl:part name="parameters" element="tns:listPromotions"/>
   </wsdl:message>
   <wsdl:message name="listResponse">
      <wsdl:part name="parameters" element="tns:listPromotionsResponse"/>
   </wsdl:message>
   <wsdl:message name="delete">
      <wsdl:part name="parameters" element="tns:deletePromotion"/>
   </wsdl:message>
   <wsdl:message name="deleteResponse">
      <wsdl:part name="parameters" element="tns:deletePromotionResponse"/>
   </wsdl:message>
   <wsdl:message name="search">
      <wsdl:part name="parameters" element="tns:searchPromotions"/>
   </wsdl:message>
   <wsdl:message name="searchResponse">
      <wsdl:part name="parameters" element="tns:searchPromotionsResponse"/>
   </wsdl:message>
   <wsdl:message name="create">
      <wsdl:part name="parameters" element="tns:createPromotion"/>
   </wsdl:message>
   <wsdl:message name="createResponse">
      <wsdl:part name="parameters" element="tns:createPromotionResponse"/>
   </wsdl:message>
   <wsdl:message name="update">
      <wsdl:part name="parameters" element="tns:updatePromotion"/>
   </wsdl:message>
   <wsdl:message name="updateResponse">
      <wsdl:part name="parameters" element="tns:updatePromotionResponse"/>
   </wsdl:message>
   <wsdl:message name="findById">
      <wsdl:part name="parameters" element="tns:findPromotionById"/>
   </wsdl:message>
   <wsdl:message name="findByIdResponse">
      <wsdl:part name="parameters" element="tns:findPromotionByIdResponse"/>
   </wsdl:message>
   <wsdl:portType name="PromotionPortType">
      <wsdl:operation name="listPromotions">
         <wsdl:input message="tns:list"/>
         <wsdl:output message="tns:listResponse"/>
      </wsdl:operation>
      <wsdl:operation name="deletePromotion">
         <wsdl:input message="tns:delete"/>
         <wsdl:output message="tns:deleteResponse"/>
      </wsdl:operation>
      <wsdl:operation name="searchPromotions">
         <wsdl:input message="tns:search"/>
         <wsdl:output message="tns:searchResponse"/>
      </wsdl:operation>
      <wsdl:operation name="createPromotion">
         <wsdl:input message="tns:create"/>
         <wsdl:output message="tns:createResponse"/>
      </wsdl:operation>
      <wsdl:operation name="updatePromotion">
         <wsdl:input message="tns:update"/>
         <wsdl:output message="tns:updateResponse"/>
      </wsdl:operation>
      <wsdl:operation name="findPromotionById">
         <wsdl:input message="tns:findById"/>
         <wsdl:output message="tns:findByIdResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PromotionBinding" type="tns:PromotionPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="listPromotions">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/listPromotions"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deletePromotion">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/deletePromotion"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="searchPromotions">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/searchPromotions"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="createPromotion">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/createPromotion"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updatePromotion">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/updatePromotion"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findPromotionById">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/findPromotionById"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PromotionService">
      <wsdl:port name="PromotionPort" binding="tns:PromotionBinding">
         <soap:address location="/soap/promotion"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>