pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/PromotionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://pricegrabber.rlviana.net/ws/service/promotion" name="PromotionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://pricegrabber.rlviana.net/ws/service/promotion" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="id-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="id" type="xs:long" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entity-base">
        <xs:sequence>
          <xs:element name="lock-version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cod-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="cod" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/promotion"/>

      <xs:element name="ServiceException" nillable="true" type="tns:serviceFault"/>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/promotion" xmlns:ns2="http://pricegrabber.rlviana.net/domain/response/core" xmlns:ns1="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns3="http://pricegrabber.rlviana.net/domain/search/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/search/core"/>

      <xs:element name="createPromotion" type="tns:createPromotion"/>

      <xs:element name="createPromotionResponse" type="tns:createPromotionResponse"/>

      <xs:element name="deletePromotion" type="tns:deletePromotion"/>

      <xs:element name="deletePromotionResponse" type="tns:deletePromotionResponse"/>

      <xs:element name="findPromotionById" type="tns:findPromotionById"/>

      <xs:element name="findPromotionByIdResponse" type="tns:findPromotionByIdResponse"/>

      <xs:element name="listPromotions" type="tns:listPromotions"/>

      <xs:element name="listPromotionsResponse" type="tns:listPromotionsResponse"/>

      <xs:element name="searchPromotions" type="tns:searchPromotions"/>

      <xs:element name="searchPromotionsResponse" type="tns:searchPromotionsResponse"/>

      <xs:element name="updatePromotion" type="tns:updatePromotion"/>

      <xs:element name="updatePromotionResponse" type="tns:updatePromotionResponse"/>

      <xs:complexType name="listPromotionsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:promotion-find-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updatePromotionResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:promotion-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchPromotions">
        <xs:sequence>
          <xs:element name="criteria" type="ns3:promotion-search-criteria" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractSearchCriteria" abstract="true">
        <xs:sequence>
          <xs:element name="firstResult" type="xs:int"/>
          <xs:element name="maxResults" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findPromotionById">
        <xs:sequence>
          <xs:element name="promotionId" type="xs:long" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deletePromotionResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:promotion-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createPromotion">
        <xs:sequence>
          <xs:element ref="ns1:promotion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listPromotions">
        <xs:sequence>
          <xs:element name="criteria" type="ns3:promotion-search-criteria" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updatePromotion">
        <xs:sequence>
          <xs:element ref="ns1:promotion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createPromotionResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:promotion-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deletePromotion">
        <xs:sequence>
          <xs:element name="promotionId" type="xs:long" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findPromotionByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:promotion-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchPromotionsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:promotion-find-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceFault">
        <xs:sequence>
          <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
          <xs:element name="faultString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/common" xmlns:ns4="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://pricegrabber.rlviana.net/domain/response">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:element name="country-find-response" type="tns:country-find-response"/>

      <xs:element name="currency-find-response" type="tns:currency-find-response"/>

      <xs:element name="language-find-response" type="tns:language-find-response"/>

      <xs:complexType name="currency-find-response">
        <xs:complexContent>
          <xs:extension base="ns5:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns4:currency" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country-find-response">
        <xs:complexContent>
          <xs:extension base="ns5:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns4:country" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language-find-response">
        <xs:complexContent>
          <xs:extension base="ns5:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns4:language" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns6="http://pricegrabber.rlviana.net/domain/entity" xmlns:ns7="http://pricegrabber.rlviana.net/domain/entity/common">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="item-type" type="tns:item-type"/>

      <xs:element name="promotion" type="tns:promotion"/>

      <xs:element name="site" type="tns:site"/>

      <xs:element name="site-item" type="tns:site-item"/>

      <xs:element name="site-item-datum" type="tns:site-item-datum"/>

      <xs:complexType name="promotion">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string" minOccurs="0"/>
              <xs:element name="active" type="xs:boolean" minOccurs="0"/>
              <xs:element name="begin-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="site-cod" type="xs:string"/>
              <xs:element ref="tns:item-type"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="tns:site"/>
              <xs:element ref="tns:item" minOccurs="0"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-item-data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="current-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="lowest-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="highest-price" type="tns:site-item-price" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="itemTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="availability" type="xs:string" minOccurs="0"/>
              <xs:element name="price-type" type="tns:price-type" minOccurs="0"/>
              <xs:element name="price-currency" type="ns7:currency"/>
              <xs:element name="price-date" type="xs:dateTime"/>
              <xs:element name="price-value" type="xs:string"/>
              <xs:element ref="tns:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element ref="tns:item-type"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="ns7:country" minOccurs="0"/>
              <xs:element name="base-currency" type="ns7:currency"/>
              <xs:element name="base-language" type="ns7:language"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-price">
        <xs:sequence>
          <xs:element name="price-currency" type="ns7:currency"/>
          <xs:element name="price-date" type="xs:dateTime"/>
          <xs:element name="price-value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="price-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="REGULAR_PRICE"/>
          <xs:enumeration value="DISCOUNT_PRICE"/>
          <xs:enumeration value="SPECIAL_PRICE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/search/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/search/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns8="http://pricegrabber.rlviana.net/ws/service/promotion">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/promotion"/>

      <xs:element name="promotion-search-criteria" type="tns:promotion-search-criteria"/>

      <xs:complexType name="promotion-search-criteria">
        <xs:complexContent>
          <xs:extension base="ns8:abstractSearchCriteria">
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string" minOccurs="0"/>
              <xs:element name="active" type="xs:boolean" minOccurs="0"/>
              <xs:element name="begin-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns9="http://pricegrabber.rlviana.net/domain/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="country" type="tns:country"/>

      <xs:element name="currency" type="tns:currency"/>

      <xs:element name="language" type="tns:language"/>

      <xs:complexType name="currency">
        <xs:complexContent>
          <xs:extension base="ns9:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country">
        <xs:complexContent>
          <xs:extension base="ns9:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language">
        <xs:complexContent>
          <xs:extension base="ns9:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns10="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns11="http://pricegrabber.rlviana.net/domain/response">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:element name="item-find-response" type="tns:item-find-response"/>

      <xs:element name="item-response" type="tns:item-response"/>

      <xs:element name="item-type-find-response" type="tns:item-type-find-response"/>

      <xs:element name="item-type-response" type="tns:item-type-response"/>

      <xs:element name="promotion-find-response" type="tns:promotion-find-response"/>

      <xs:element name="promotion-response" type="tns:promotion-response"/>

      <xs:element name="site-find-response" type="tns:site-find-response"/>

      <xs:element name="site-item-datum-find-response" type="tns:site-item-datum-find-response"/>

      <xs:element name="site-item-datum-response" type="tns:site-item-datum-response"/>

      <xs:element name="site-item-find-response" type="tns:site-item-find-response"/>

      <xs:element name="site-item-response" type="tns:site-item-response"/>

      <xs:element name="site-response" type="tns:site-response"/>

      <xs:complexType name="promotion-find-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns10:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-find-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns10:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-find-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns10:item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-find-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns10:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-find-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns10:site" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-find-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns10:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns10:promotion" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns10:site" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns10:item-type" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns10:site-item-datum" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns10:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-response">
        <xs:complexContent>
          <xs:extension base="ns11:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns10:item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response" xmlns:tns="http://pricegrabber.rlviana.net/domain/response" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="message" type="tns:message"/>

      <xs:complexType name="abstract-entity-find-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="count" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="message">
        <xs:sequence>
          <xs:element name="messageType" type="tns:message-type"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="messageKey" type="xs:string"/>
          <xs:element name="property" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstract-entity-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime"/>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="message-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="INFO"/>
          <xs:enumeration value="WARN"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FATAL"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="listPromotions">
    <part name="parameters" element="tns:listPromotions"/>
  </message>
  <message name="listPromotionsResponse">
    <part name="parameters" element="tns:listPromotionsResponse"/>
  </message>
  <message name="ServiceException">
    <part name="fault" element="ns13:ServiceException" xmlns:ns13="http://pricegrabber.rlviana.net/ws/service/exception"/>
  </message>
  <message name="createPromotion">
    <part name="parameters" element="tns:createPromotion"/>
  </message>
  <message name="createPromotionResponse">
    <part name="parameters" element="tns:createPromotionResponse"/>
  </message>
  <message name="searchPromotions">
    <part name="parameters" element="tns:searchPromotions"/>
  </message>
  <message name="searchPromotionsResponse">
    <part name="parameters" element="tns:searchPromotionsResponse"/>
  </message>
  <message name="deletePromotion">
    <part name="parameters" element="tns:deletePromotion"/>
  </message>
  <message name="deletePromotionResponse">
    <part name="parameters" element="tns:deletePromotionResponse"/>
  </message>
  <message name="findPromotionById">
    <part name="parameters" element="tns:findPromotionById"/>
  </message>
  <message name="findPromotionByIdResponse">
    <part name="parameters" element="tns:findPromotionByIdResponse"/>
  </message>
  <message name="updatePromotion">
    <part name="parameters" element="tns:updatePromotion"/>
  </message>
  <message name="updatePromotionResponse">
    <part name="parameters" element="tns:updatePromotionResponse"/>
  </message>
  <portType name="PromotionPortType">
    <operation name="listPromotions">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/listPromotions" message="tns:listPromotions"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/listPromotionsResponse" message="tns:listPromotionsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/listPromotions/Fault/ServiceException"/>
    </operation>
    <operation name="createPromotion">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/createPromotion" message="tns:createPromotion"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/createPromotionResponse" message="tns:createPromotionResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/createPromotion/Fault/ServiceException"/>
    </operation>
    <operation name="searchPromotions">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/searchPromotions" message="tns:searchPromotions"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/searchPromotionsResponse" message="tns:searchPromotionsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/searchPromotions/Fault/ServiceException"/>
    </operation>
    <operation name="deletePromotion">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/deletePromotion" message="tns:deletePromotion"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/deletePromotionResponse" message="tns:deletePromotionResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/deletePromotion/Fault/ServiceException"/>
    </operation>
    <operation name="findPromotionById">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/findPromotionById" message="tns:findPromotionById"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/findPromotionByIdResponse" message="tns:findPromotionByIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/findPromotionById/Fault/ServiceException"/>
    </operation>
    <operation name="updatePromotion">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/updatePromotion" message="tns:updatePromotion"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/updatePromotionResponse" message="tns:updatePromotionResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/promotion/PromotionPortType/updatePromotion/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="PromotionPortBinding" type="tns:PromotionPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listPromotions">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/listPromotions"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createPromotion">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/createPromotion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchPromotions">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/searchPromotions"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePromotion">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/deletePromotion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPromotionById">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/findPromotionById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePromotion">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/promotion/updatePromotion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PromotionService">
    <port name="PromotionPort" binding="tns:PromotionPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

