pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/siteItemService.wsdl

<wsdl:definitions
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://pricegrabber.rlviana.net/ws/service/siteItem" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pricegrabber.rlviana.net/ws/service/siteItem"
   name="SiteItemService"
>
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://pricegrabber.rlviana.net/ws/service/siteItem"
            schemaLocation="../xsd/siteItemService.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="list">
      <wsdl:part name="parameters" element="tns:listSiteItems"/>
   </wsdl:message>
   <wsdl:message name="listResponse">
      <wsdl:part name="parameters" element="tns:listSiteItemsResponse"/>
   </wsdl:message>
   <wsdl:message name="delete">
      <wsdl:part name="parameters" element="tns:deleteSiteItem"/>
   </wsdl:message>
   <wsdl:message name="deleteResponse">
      <wsdl:part name="parameters" element="tns:deleteSiteItemResponse"/>
   </wsdl:message>
   <wsdl:message name="search">
      <wsdl:part name="parameters" element="tns:searchSiteItems"/>
   </wsdl:message>
   <wsdl:message name="searchResponse">
      <wsdl:part name="parameters" element="tns:searchSiteItemsResponse"/>
   </wsdl:message>
   <wsdl:message name="create">
      <wsdl:part name="parameters" element="tns:createSiteItem"/>
   </wsdl:message>
   <wsdl:message name="createResponse">
      <wsdl:part name="parameters" element="tns:createSiteItemResponse"/>
   </wsdl:message>
   <wsdl:message name="update">
      <wsdl:part name="parameters" element="tns:updateSiteItem"/>
   </wsdl:message>
   <wsdl:message name="updateResponse">
      <wsdl:part name="parameters" element="tns:updateSiteItemResponse"/>
   </wsdl:message>
   <wsdl:message name="findById">
      <wsdl:part name="parameters" element="tns:findSiteItemById"/>
   </wsdl:message>
   <wsdl:message name="findByIdResponse">
      <wsdl:part name="parameters" element="tns:findSiteItemByIdResponse"/>
   </wsdl:message>
   <wsdl:portType name="SiteItemPortType">
      <wsdl:operation name="listSiteItems">
         <wsdl:input message="tns:list"/>
         <wsdl:output message="tns:listResponse"/>
      </wsdl:operation>
      <wsdl:operation name="deleteSiteItem">
         <wsdl:input message="tns:delete"/>
         <wsdl:output message="tns:deleteResponse"/>
      </wsdl:operation>
      <wsdl:operation name="searchSiteItems">
         <wsdl:input message="tns:search"/>
         <wsdl:output message="tns:searchResponse"/>
      </wsdl:operation>
      <wsdl:operation name="createSiteItem">
         <wsdl:input message="tns:create"/>
         <wsdl:output message="tns:createResponse"/>
      </wsdl:operation>
      <wsdl:operation name="updateSiteItem">
         <wsdl:input message="tns:update"/>
         <wsdl:output message="tns:updateResponse"/>
      </wsdl:operation>
      <wsdl:operation name="findSiteItemById">
         <wsdl:input message="tns:findById"/>
         <wsdl:output message="tns:findByIdResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SiteItemBinding" type="tns:SiteItemPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="listSiteItems">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/siteItem/listSiteItems"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteSiteItem">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/siteItem/deleteSiteItem"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="searchSiteItems">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/siteItem/searchSiteItems"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="createSiteItem">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/siteItem/createSiteItem"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateSiteItem">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/siteItem/updateSiteItem"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findSiteItemById">
         <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/siteItem/findSiteItemById"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SiteItemService">
      <wsdl:port name="SiteItemPort" binding="tns:SiteItemBinding">
         <soap:address location="/soap/siteItem"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>