pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/SiteItemDatumService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://pricegrabber.rlviana.net/ws/service/siteItemDatum" name="SiteItemDatumService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://pricegrabber.rlviana.net/ws/service/siteItemDatum" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="id-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="id" type="xs:long" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entity-base">
        <xs:sequence>
          <xs:element name="lock-version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cod-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="cod" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns1="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="country" type="tns:country"/>

      <xs:element name="currency" type="tns:currency"/>

      <xs:element name="language" type="tns:language"/>

      <xs:complexType name="currency">
        <xs:complexContent>
          <xs:extension base="ns1:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country">
        <xs:complexContent>
          <xs:extension base="ns1:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language">
        <xs:complexContent>
          <xs:extension base="ns1:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response" xmlns:tns="http://pricegrabber.rlviana.net/domain/response" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="message" type="tns:message"/>

      <xs:complexType name="abstract-entity-find-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="count" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="message">
        <xs:sequence>
          <xs:element name="messageType" type="tns:message-type"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="messageKey" type="xs:string"/>
          <xs:element name="property" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstract-entity-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime"/>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="message-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="INFO"/>
          <xs:enumeration value="WARN"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FATAL"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/search/core" xmlns:ns2="http://pricegrabber.rlviana.net/ws/service/siteItemDatum" xmlns:tns="http://pricegrabber.rlviana.net/domain/search/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/siteItemDatum"/>

      <xs:element name="site-item-datum-search-criteria" type="tns:site-item-datum-search-criteria"/>

      <xs:complexType name="site-item-datum-search-criteria">
        <xs:complexContent>
          <xs:extension base="ns2:abstractSearchCriteria">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/siteItemDatum" xmlns:ns4="http://pricegrabber.rlviana.net/domain/response/core" xmlns:ns3="http://pricegrabber.rlviana.net/domain/search/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns6="http://pricegrabber.rlviana.net/domain/entity/common">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/search/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:element name="createSiteItemDatum" type="tns:createSiteItemDatum"/>

      <xs:element name="createSiteItemDatumResponse" type="tns:createSiteItemDatumResponse"/>

      <xs:element name="deleteSiteItemDatum" type="tns:deleteSiteItemDatum"/>

      <xs:element name="deleteSiteItemDatumResponse" type="tns:deleteSiteItemDatumResponse"/>

      <xs:element name="findSiteItemDatumById" type="tns:findSiteItemDatumById"/>

      <xs:element name="findSiteItemDatumByIdResponse" type="tns:findSiteItemDatumByIdResponse"/>

      <xs:element name="listSiteItemData" type="tns:listSiteItemData"/>

      <xs:element name="listSiteItemDataResponse" type="tns:listSiteItemDataResponse"/>

      <xs:element name="listSiteItemDatums" type="tns:listSiteItemDatums"/>

      <xs:element name="listSiteItemDatumsResponse" type="tns:listSiteItemDatumsResponse"/>

      <xs:element name="searchSiteItemData" type="tns:searchSiteItemData"/>

      <xs:element name="searchSiteItemDataResponse" type="tns:searchSiteItemDataResponse"/>

      <xs:element name="searchSiteItemDatums" type="tns:searchSiteItemDatums"/>

      <xs:element name="searchSiteItemDatumsResponse" type="tns:searchSiteItemDatumsResponse"/>

      <xs:element name="updateSiteItemDatum" type="tns:updateSiteItemDatum"/>

      <xs:element name="updateSiteItemDatumResponse" type="tns:updateSiteItemDatumResponse"/>

      <xs:complexType name="listSiteItemDatums">
        <xs:sequence>
          <xs:element name="arg0" type="tns:listSiteItemData" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listSiteItemData">
        <xs:sequence>
          <xs:element name="criteria" type="ns3:site-item-datum-search-criteria" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractSearchCriteria" abstract="true">
        <xs:sequence>
          <xs:element name="firstResult" type="xs:int"/>
          <xs:element name="maxResults" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listSiteItemDatumsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:listSiteItemDataResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listSiteItemDataResponse">
        <xs:sequence>
          <xs:element name="return" type="ns4:site-item-datum-find-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createSiteItemDatum">
        <xs:sequence>
          <xs:element name="arg0" type="ns5:site-item-datum" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createSiteItemDatumResponse">
        <xs:sequence>
          <xs:element name="return" type="ns4:site-item-datum-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateSiteItemDatum">
        <xs:sequence>
          <xs:element name="arg0" type="ns5:site-item-datum" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateSiteItemDatumResponse">
        <xs:sequence>
          <xs:element name="return" type="ns4:site-item-datum-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSiteItemDatums">
        <xs:sequence>
          <xs:element name="arg0" type="tns:searchSiteItemData" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSiteItemData">
        <xs:sequence>
          <xs:element name="criteria" type="ns3:site-item-datum-search-criteria" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSiteItemDatumsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:searchSiteItemDataResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSiteItemDataResponse">
        <xs:sequence>
          <xs:element name="return" type="ns4:site-item-datum-find-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findSiteItemDatumById">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findSiteItemDatumByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns4:site-item-datum-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteSiteItemDatum">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteSiteItemDatumResponse">
        <xs:sequence>
          <xs:element name="return" type="ns4:site-item-datum-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/core" xmlns:ns9="http://pricegrabber.rlviana.net/domain/response" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns8="http://pricegrabber.rlviana.net/domain/entity/common">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:element name="item-find-response" type="tns:item-find-response"/>

      <xs:element name="item-response" type="tns:item-response"/>

      <xs:element name="item-type-find-response" type="tns:item-type-find-response"/>

      <xs:element name="item-type-response" type="tns:item-type-response"/>

      <xs:element name="promotion-find-response" type="tns:promotion-find-response"/>

      <xs:element name="promotion-response" type="tns:promotion-response"/>

      <xs:element name="site-find-response" type="tns:site-find-response"/>

      <xs:element name="site-item-datum-find-response" type="tns:site-item-datum-find-response"/>

      <xs:element name="site-item-datum-response" type="tns:site-item-datum-response"/>

      <xs:element name="site-item-find-response" type="tns:site-item-find-response"/>

      <xs:element name="site-item-response" type="tns:site-item-response"/>

      <xs:element name="site-response" type="tns:site-response"/>

      <xs:complexType name="site-item-datum-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:site" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns7:site-item-datum" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns7:site" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns7:item-type" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns7:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns7:item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns7:promotion" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns10="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns11="http://pricegrabber.rlviana.net/domain/entity">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="item-type" type="tns:item-type"/>

      <xs:element name="promotion" type="tns:promotion"/>

      <xs:element name="site" type="tns:site"/>

      <xs:element name="site-item" type="tns:site-item"/>

      <xs:element name="site-item-datum" type="tns:site-item-datum"/>

      <xs:complexType name="site-item-datum">
        <xs:complexContent>
          <xs:extension base="ns11:id-entity-base">
            <xs:sequence>
              <xs:element name="availability" type="xs:string" minOccurs="0"/>
              <xs:element name="price-type" type="tns:price-type" minOccurs="0"/>
              <xs:element name="price-currency" type="ns10:currency"/>
              <xs:element name="price-date" type="xs:dateTime"/>
              <xs:element name="price-value" type="xs:string"/>
              <xs:element ref="tns:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion">
        <xs:complexContent>
          <xs:extension base="ns11:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string" minOccurs="0"/>
              <xs:element name="active" type="xs:boolean" minOccurs="0"/>
              <xs:element name="begin-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item">
        <xs:complexContent>
          <xs:extension base="ns11:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="site-cod" type="xs:string"/>
              <xs:element ref="tns:item-type"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="tns:site"/>
              <xs:element ref="tns:item" minOccurs="0"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-item-data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="current-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="lowest-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="highest-price" type="tns:site-item-price" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type">
        <xs:complexContent>
          <xs:extension base="ns11:id-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="itemTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site">
        <xs:complexContent>
          <xs:extension base="ns11:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="ns10:country" minOccurs="0"/>
              <xs:element name="base-currency" type="ns10:currency"/>
              <xs:element name="base-language" type="ns10:language"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:complexContent>
          <xs:extension base="ns11:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element ref="tns:item-type"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-price">
        <xs:sequence>
          <xs:element name="price-currency" type="ns10:currency"/>
          <xs:element name="price-date" type="xs:dateTime"/>
          <xs:element name="price-value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="price-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="REGULAR_PRICE"/>
          <xs:enumeration value="DISCOUNT_PRICE"/>
          <xs:enumeration value="SPECIAL_PRICE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns13="http://pricegrabber.rlviana.net/domain/response">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:element name="country-find-response" type="tns:country-find-response"/>

      <xs:element name="currency-find-response" type="tns:currency-find-response"/>

      <xs:element name="language-find-response" type="tns:language-find-response"/>

      <xs:complexType name="currency-find-response">
        <xs:complexContent>
          <xs:extension base="ns13:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns12:currency" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country-find-response">
        <xs:complexContent>
          <xs:extension base="ns13:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns12:country" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language-find-response">
        <xs:complexContent>
          <xs:extension base="ns13:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns12:language" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="updateSiteItemDatum">
    <part name="parameters" element="tns:updateSiteItemDatum"/>
  </message>
  <message name="updateSiteItemDatumResponse">
    <part name="parameters" element="tns:updateSiteItemDatumResponse"/>
  </message>
  <message name="deleteSiteItemDatum">
    <part name="parameters" element="tns:deleteSiteItemDatum"/>
  </message>
  <message name="deleteSiteItemDatumResponse">
    <part name="parameters" element="tns:deleteSiteItemDatumResponse"/>
  </message>
  <message name="listSiteItemDatums">
    <part name="parameters" element="tns:listSiteItemDatums"/>
  </message>
  <message name="listSiteItemDatumsResponse">
    <part name="parameters" element="tns:listSiteItemDatumsResponse"/>
  </message>
  <message name="findSiteItemDatumById">
    <part name="parameters" element="tns:findSiteItemDatumById"/>
  </message>
  <message name="findSiteItemDatumByIdResponse">
    <part name="parameters" element="tns:findSiteItemDatumByIdResponse"/>
  </message>
  <message name="createSiteItemDatum">
    <part name="parameters" element="tns:createSiteItemDatum"/>
  </message>
  <message name="createSiteItemDatumResponse">
    <part name="parameters" element="tns:createSiteItemDatumResponse"/>
  </message>
  <message name="searchSiteItemDatums">
    <part name="parameters" element="tns:searchSiteItemDatums"/>
  </message>
  <message name="searchSiteItemDatumsResponse">
    <part name="parameters" element="tns:searchSiteItemDatumsResponse"/>
  </message>
  <portType name="SiteItemDatumPortTypeImpl">
    <operation name="updateSiteItemDatum">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/updateSiteItemDatumRequest" message="tns:updateSiteItemDatum"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/updateSiteItemDatumResponse" message="tns:updateSiteItemDatumResponse"/>
    </operation>
    <operation name="deleteSiteItemDatum">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/deleteSiteItemDatumRequest" message="tns:deleteSiteItemDatum"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/deleteSiteItemDatumResponse" message="tns:deleteSiteItemDatumResponse"/>
    </operation>
    <operation name="listSiteItemDatums">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/listSiteItemDatumsRequest" message="tns:listSiteItemDatums"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/listSiteItemDatumsResponse" message="tns:listSiteItemDatumsResponse"/>
    </operation>
    <operation name="findSiteItemDatumById">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/findSiteItemDatumByIdRequest" message="tns:findSiteItemDatumById"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/findSiteItemDatumByIdResponse" message="tns:findSiteItemDatumByIdResponse"/>
    </operation>
    <operation name="createSiteItemDatum">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/createSiteItemDatumRequest" message="tns:createSiteItemDatum"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/createSiteItemDatumResponse" message="tns:createSiteItemDatumResponse"/>
    </operation>
    <operation name="searchSiteItemDatums">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/searchSiteItemDatumsRequest" message="tns:searchSiteItemDatums"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItemDatum/SiteItemDatumPortTypeImpl/searchSiteItemDatumsResponse" message="tns:searchSiteItemDatumsResponse"/>
    </operation>
  </portType>
  <binding name="SiteItemDatumPortBinding" type="tns:SiteItemDatumPortTypeImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateSiteItemDatum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteSiteItemDatum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listSiteItemDatums">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findSiteItemDatumById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createSiteItemDatum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchSiteItemDatums">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SiteItemDatumService">
    <port name="SiteItemDatumPort" binding="tns:SiteItemDatumPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

