pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/SiteService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://pricegrabber.rlviana.net/ws/service/site" name="SiteService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://pricegrabber.rlviana.net/ws/service/site" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns1="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="country" type="tns:country"/>

      <xs:element name="currency" type="tns:currency"/>

      <xs:element name="language" type="tns:language"/>

      <xs:complexType name="country">
        <xs:complexContent>
          <xs:extension base="ns1:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="currency">
        <xs:complexContent>
          <xs:extension base="ns1:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language">
        <xs:complexContent>
          <xs:extension base="ns1:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns2="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns3="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="item-type" type="tns:item-type"/>

      <xs:element name="promotion" type="tns:promotion"/>

      <xs:element name="site" type="tns:site"/>

      <xs:element name="site-item" type="tns:site-item"/>

      <xs:element name="site-item-datum" type="tns:site-item-datum"/>

      <xs:complexType name="site">
        <xs:complexContent>
          <xs:extension base="ns3:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="ns2:country" minOccurs="0"/>
              <xs:element name="base-currency" type="ns2:currency"/>
              <xs:element name="base-language" type="ns2:language"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum">
        <xs:complexContent>
          <xs:extension base="ns3:id-entity-base">
            <xs:sequence>
              <xs:element name="availability" type="xs:string" minOccurs="0"/>
              <xs:element name="price-type" type="tns:price-type" minOccurs="0"/>
              <xs:element name="price-currency" type="ns2:currency"/>
              <xs:element name="price-date" type="xs:dateTime"/>
              <xs:element name="price-value" type="xs:string"/>
              <xs:element ref="tns:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item">
        <xs:complexContent>
          <xs:extension base="ns3:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="site-cod" type="xs:string"/>
              <xs:element ref="tns:item-type"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="tns:site"/>
              <xs:element ref="tns:item" minOccurs="0"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-item-data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="current-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="lowest-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="highest-price" type="tns:site-item-price" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type">
        <xs:complexContent>
          <xs:extension base="ns3:id-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="itemTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:complexContent>
          <xs:extension base="ns3:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element ref="tns:item-type"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion">
        <xs:complexContent>
          <xs:extension base="ns3:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string" minOccurs="0"/>
              <xs:element name="active" type="xs:boolean" minOccurs="0"/>
              <xs:element name="begin-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-price">
        <xs:sequence>
          <xs:element name="price-currency" type="ns2:currency"/>
          <xs:element name="price-date" type="xs:dateTime"/>
          <xs:element name="price-value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="price-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="REGULAR_PRICE"/>
          <xs:enumeration value="DISCOUNT_PRICE"/>
          <xs:enumeration value="SPECIAL_PRICE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response" xmlns:tns="http://pricegrabber.rlviana.net/domain/response" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="message" type="tns:message"/>

      <xs:complexType name="abstract-entity-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime"/>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="message">
        <xs:sequence>
          <xs:element name="messageType" type="tns:message-type"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="messageKey" type="xs:string"/>
          <xs:element name="property" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstract-entity-find-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="count" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="message-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="INFO"/>
          <xs:enumeration value="WARN"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FATAL"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="id-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="id" type="xs:long" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entity-base">
        <xs:sequence>
          <xs:element name="lock-version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cod-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="cod" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/core" xmlns:ns4="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns6="http://pricegrabber.rlviana.net/domain/response">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:element name="item-find-response" type="tns:item-find-response"/>

      <xs:element name="item-response" type="tns:item-response"/>

      <xs:element name="item-type-find-response" type="tns:item-type-find-response"/>

      <xs:element name="item-type-response" type="tns:item-type-response"/>

      <xs:element name="promotion-find-response" type="tns:promotion-find-response"/>

      <xs:element name="promotion-response" type="tns:promotion-response"/>

      <xs:element name="site-find-response" type="tns:site-find-response"/>

      <xs:element name="site-item-datum-find-response" type="tns:site-item-datum-find-response"/>

      <xs:element name="site-item-datum-response" type="tns:site-item-datum-response"/>

      <xs:element name="site-item-find-response" type="tns:site-item-find-response"/>

      <xs:element name="site-item-response" type="tns:site-item-response"/>

      <xs:element name="site-response" type="tns:site-response"/>

      <xs:complexType name="site-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns5:site" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns5:item-type" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns5:site-item-datum" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns5:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns5:item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns5:promotion" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-find-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns5:site" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-find-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns5:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-find-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns5:item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-find-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns5:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-find-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns5:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-find-response">
        <xs:complexContent>
          <xs:extension base="ns6:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns5:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/search/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/search/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://pricegrabber.rlviana.net/ws/service/site">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/site"/>

      <xs:element name="site-search-criteria" type="tns:site-search-criteria"/>

      <xs:complexType name="site-search-criteria">
        <xs:complexContent>
          <xs:extension base="ns7:abstractSearchCriteria">
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/common" xmlns:ns9="http://pricegrabber.rlviana.net/domain/response" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns8="http://pricegrabber.rlviana.net/domain/entity/common">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:element name="country-find-response" type="tns:country-find-response"/>

      <xs:element name="currency-find-response" type="tns:currency-find-response"/>

      <xs:element name="language-find-response" type="tns:language-find-response"/>

      <xs:complexType name="currency-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns8:currency" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns8:country" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language-find-response">
        <xs:complexContent>
          <xs:extension base="ns9:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns8:language" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/site"/>

      <xs:element name="ServiceException" nillable="true" type="tns:serviceFault"/>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/site" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns13="http://pricegrabber.rlviana.net/domain/search/core" xmlns:ns10="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns11="http://pricegrabber.rlviana.net/domain/response/core">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/search/core"/>

      <xs:element name="createSite" type="tns:createSite"/>

      <xs:element name="createSiteResponse" type="tns:createSiteResponse"/>

      <xs:element name="deleteSite" type="tns:deleteSite"/>

      <xs:element name="deleteSiteResponse" type="tns:deleteSiteResponse"/>

      <xs:element name="findSiteById" type="tns:findSiteById"/>

      <xs:element name="findSiteByIdResponse" type="tns:findSiteByIdResponse"/>

      <xs:element name="listSites" type="tns:listSites"/>

      <xs:element name="listSitesResponse" type="tns:listSitesResponse"/>

      <xs:element name="searchSites" type="tns:searchSites"/>

      <xs:element name="searchSitesResponse" type="tns:searchSitesResponse"/>

      <xs:element name="updateSite" type="tns:updateSite"/>

      <xs:element name="updateSiteResponse" type="tns:updateSiteResponse"/>

      <xs:complexType name="findSiteByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findSiteById">
        <xs:sequence>
          <xs:element name="siteId" type="xs:long" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateSite">
        <xs:sequence>
          <xs:element ref="ns10:site" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSitesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-find-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateSiteResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listSites">
        <xs:sequence>
          <xs:element name="criteria" type="ns13:site-search-criteria" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractSearchCriteria" abstract="true">
        <xs:sequence>
          <xs:element name="firstResult" type="xs:int"/>
          <xs:element name="maxResults" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteSiteResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listSitesResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-find-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSites">
        <xs:sequence>
          <xs:element name="criteria" type="ns13:site-search-criteria" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createSite">
        <xs:sequence>
          <xs:element ref="ns10:site" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteSite">
        <xs:sequence>
          <xs:element name="siteId" type="xs:long" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createSiteResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-response" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceFault">
        <xs:sequence>
          <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
          <xs:element name="faultString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="deleteSite">
    <part name="parameters" element="tns:deleteSite"/>
  </message>
  <message name="deleteSiteResponse">
    <part name="parameters" element="tns:deleteSiteResponse"/>
  </message>
  <message name="ServiceException">
    <part name="fault" element="ns14:ServiceException" xmlns:ns14="http://pricegrabber.rlviana.net/ws/service/exception"/>
  </message>
  <message name="searchSites">
    <part name="parameters" element="tns:searchSites"/>
  </message>
  <message name="searchSitesResponse">
    <part name="parameters" element="tns:searchSitesResponse"/>
  </message>
  <message name="createSite">
    <part name="parameters" element="tns:createSite"/>
  </message>
  <message name="createSiteResponse">
    <part name="parameters" element="tns:createSiteResponse"/>
  </message>
  <message name="listSites">
    <part name="parameters" element="tns:listSites"/>
  </message>
  <message name="listSitesResponse">
    <part name="parameters" element="tns:listSitesResponse"/>
  </message>
  <message name="findSiteById">
    <part name="parameters" element="tns:findSiteById"/>
  </message>
  <message name="findSiteByIdResponse">
    <part name="parameters" element="tns:findSiteByIdResponse"/>
  </message>
  <message name="updateSite">
    <part name="parameters" element="tns:updateSite"/>
  </message>
  <message name="updateSiteResponse">
    <part name="parameters" element="tns:updateSiteResponse"/>
  </message>
  <portType name="SitePortType">
    <operation name="deleteSite">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/deleteSite" message="tns:deleteSite"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/deleteSiteResponse" message="tns:deleteSiteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/deleteSite/Fault/ServiceException"/>
    </operation>
    <operation name="searchSites">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/searchSites" message="tns:searchSites"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/searchSitesResponse" message="tns:searchSitesResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/searchSites/Fault/ServiceException"/>
    </operation>
    <operation name="createSite">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/createSite" message="tns:createSite"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/createSiteResponse" message="tns:createSiteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/createSite/Fault/ServiceException"/>
    </operation>
    <operation name="listSites">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/listSites" message="tns:listSites"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/listSitesResponse" message="tns:listSitesResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/listSites/Fault/ServiceException"/>
    </operation>
    <operation name="findSiteById">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/findSiteById" message="tns:findSiteById"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/findSiteByIdResponse" message="tns:findSiteByIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/findSiteById/Fault/ServiceException"/>
    </operation>
    <operation name="updateSite">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/updateSite" message="tns:updateSite"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/updateSiteResponse" message="tns:updateSiteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/site/SitePortType/updateSite/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="SitePortBinding" type="tns:SitePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteSite">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/site/deleteSite"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchSites">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/site/searchSites"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSite">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/site/createSite"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="listSites">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/site/listSites"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSiteById">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/site/findSiteById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateSite">
      <soap:operation soapAction="http://pricegrabber.rlviana.net/ws/service/site/updateSite"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SiteService">
    <port name="SitePort" binding="tns:SitePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

