pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/wsdl/SiteItemService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://pricegrabber.rlviana.net/ws/service/siteItem" name="SiteItemService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://pricegrabber.rlviana.net/ws/service/siteItem" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="id-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="id" type="xs:long" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entity-base">
        <xs:sequence>
          <xs:element name="lock-version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cod-entity-base">
        <xs:complexContent>
          <xs:extension base="tns:entity-base">
            <xs:sequence>
              <xs:element name="cod" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response" xmlns:tns="http://pricegrabber.rlviana.net/domain/response" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="message" type="tns:message"/>

      <xs:complexType name="abstract-entity-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime"/>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="message">
        <xs:sequence>
          <xs:element name="messageType" type="tns:message-type"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="messageKey" type="xs:string"/>
          <xs:element name="property" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstract-entity-find-response-result" abstract="true">
        <xs:sequence>
          <xs:element name="errors" type="xs:boolean"/>
          <xs:element name="messages">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="count" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="message-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="INFO"/>
          <xs:enumeration value="WARN"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FATAL"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/core" xmlns:ns2="http://pricegrabber.rlviana.net/domain/response" xmlns:ns1="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns3="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:element name="item-find-response" type="tns:item-find-response"/>

      <xs:element name="item-response" type="tns:item-response"/>

      <xs:element name="item-type-find-response" type="tns:item-type-find-response"/>

      <xs:element name="item-type-response" type="tns:item-type-response"/>

      <xs:element name="promotion-find-response" type="tns:promotion-find-response"/>

      <xs:element name="promotion-response" type="tns:promotion-response"/>

      <xs:element name="site-find-response" type="tns:site-find-response"/>

      <xs:element name="site-item-datum-find-response" type="tns:site-item-datum-find-response"/>

      <xs:element name="site-item-datum-response" type="tns:site-item-datum-response"/>

      <xs:element name="site-item-find-response" type="tns:site-item-find-response"/>

      <xs:element name="site-item-response" type="tns:site-item-response"/>

      <xs:element name="site-response" type="tns:site-response"/>

      <xs:complexType name="site-item-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns1:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns1:site" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns1:item-type" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns1:site-item-datum" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns1:item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-response-result">
            <xs:sequence>
              <xs:element name="results" type="ns1:promotion" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:site" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion-find-response">
        <xs:complexContent>
          <xs:extension base="ns2:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns1:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns4="http://pricegrabber.rlviana.net/domain/entity" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="country" type="tns:country"/>

      <xs:element name="currency" type="tns:currency"/>

      <xs:element name="language" type="tns:language"/>

      <xs:complexType name="currency">
        <xs:complexContent>
          <xs:extension base="ns4:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country">
        <xs:complexContent>
          <xs:extension base="ns4:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language">
        <xs:complexContent>
          <xs:extension base="ns4:cod-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/siteItem"/>

      <xs:element name="ServiceException" nillable="true" type="tns:serviceFault"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns6="http://pricegrabber.rlviana.net/domain/entity">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="item-type" type="tns:item-type"/>

      <xs:element name="promotion" type="tns:promotion"/>

      <xs:element name="site" type="tns:site"/>

      <xs:element name="site-item" type="tns:site-item"/>

      <xs:element name="site-item-datum" type="tns:site-item-datum"/>

      <xs:complexType name="site-item">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="site-cod" type="xs:string"/>
              <xs:element ref="tns:item-type"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="tns:site"/>
              <xs:element ref="tns:item" minOccurs="0"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-item-data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item-datum" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="current-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="lowest-price" type="tns:site-item-price" minOccurs="0"/>
              <xs:element name="highest-price" type="tns:site-item-price" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item-type">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="code" type="xs:string"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="itemTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:item-type" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-datum">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="availability" type="xs:string" minOccurs="0"/>
              <xs:element name="price-type" type="tns:price-type" minOccurs="0"/>
              <xs:element name="price-currency" type="ns5:currency"/>
              <xs:element name="price-date" type="xs:dateTime"/>
              <xs:element name="price-value" type="xs:string"/>
              <xs:element ref="tns:site-item" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="promotion">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string" minOccurs="0"/>
              <xs:element name="active" type="xs:boolean" minOccurs="0"/>
              <xs:element name="begin-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element ref="tns:item-type"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site">
        <xs:complexContent>
          <xs:extension base="ns6:id-entity-base">
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:string"/>
              <xs:element ref="ns5:country" minOccurs="0"/>
              <xs:element name="base-currency" type="ns5:currency"/>
              <xs:element name="base-language" type="ns5:language"/>
              <xs:element name="promotions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:promotion" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="tns:site-item" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="site-item-price">
        <xs:sequence>
          <xs:element name="price-currency" type="ns5:currency"/>
          <xs:element name="price-date" type="xs:dateTime"/>
          <xs:element name="price-value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="price-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="REGULAR_PRICE"/>
          <xs:enumeration value="DISCOUNT_PRICE"/>
          <xs:enumeration value="SPECIAL_PRICE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/response/common" xmlns:tns="http://pricegrabber.rlviana.net/domain/response/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://pricegrabber.rlviana.net/domain/entity/common" xmlns:ns8="http://pricegrabber.rlviana.net/domain/response">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/common"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response"/>

      <xs:element name="country-find-response" type="tns:country-find-response"/>

      <xs:element name="currency-find-response" type="tns:currency-find-response"/>

      <xs:element name="language-find-response" type="tns:language-find-response"/>

      <xs:complexType name="currency-find-response">
        <xs:complexContent>
          <xs:extension base="ns8:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:currency" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="country-find-response">
        <xs:complexContent>
          <xs:extension base="ns8:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:country" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="language-find-response">
        <xs:complexContent>
          <xs:extension base="ns8:abstract-entity-find-response-result">
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns7:language" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://pricegrabber.rlviana.net/domain/search/core" xmlns:tns="http://pricegrabber.rlviana.net/domain/search/core" xmlns:ns9="http://pricegrabber.rlviana.net/ws/service/siteItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://pricegrabber.rlviana.net/ws/service/siteItem"/>

      <xs:element name="site-item-search-criteria" type="tns:site-item-search-criteria"/>

      <xs:complexType name="site-item-search-criteria">
        <xs:complexContent>
          <xs:extension base="ns9:abstractSearchCriteria">
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="site-cod" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://pricegrabber.rlviana.net/ws/service/siteItem" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://pricegrabber.rlviana.net/domain/search/core" xmlns:ns10="http://pricegrabber.rlviana.net/domain/entity/core" xmlns:ns11="http://pricegrabber.rlviana.net/domain/response/core">

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/entity/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/response/core"/>

      <xs:import namespace="http://pricegrabber.rlviana.net/domain/search/core"/>

      <xs:element name="createSiteItem" type="tns:createSiteItem"/>

      <xs:element name="createSiteItemResponse" type="tns:createSiteItemResponse"/>

      <xs:element name="deleteSiteItem" type="tns:deleteSiteItem"/>

      <xs:element name="deleteSiteItemResponse" type="tns:deleteSiteItemResponse"/>

      <xs:element name="findSiteItemById" type="tns:findSiteItemById"/>

      <xs:element name="findSiteItemByIdResponse" type="tns:findSiteItemByIdResponse"/>

      <xs:element name="listSiteItems" type="tns:listSiteItems"/>

      <xs:element name="listSiteItemsResponse" type="tns:listSiteItemsResponse"/>

      <xs:element name="searchSiteItems" type="tns:searchSiteItems"/>

      <xs:element name="searchSiteItemsResponse" type="tns:searchSiteItemsResponse"/>

      <xs:element name="updateSiteItem" type="tns:updateSiteItem"/>

      <xs:element name="updateSiteItemResponse" type="tns:updateSiteItemResponse"/>

      <xs:complexType name="findSiteItemById">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findSiteItemByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-item-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceFault">
        <xs:sequence>
          <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
          <xs:element name="faultString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSiteItems">
        <xs:sequence>
          <xs:element name="arg0" type="ns12:site-item-search-criteria" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractSearchCriteria" abstract="true">
        <xs:sequence>
          <xs:element name="firstResult" type="xs:int"/>
          <xs:element name="maxResults" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchSiteItemsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-item-find-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateSiteItem">
        <xs:sequence>
          <xs:element name="arg0" type="ns10:site-item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateSiteItemResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-item-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createSiteItem">
        <xs:sequence>
          <xs:element name="arg0" type="ns10:site-item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createSiteItemResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-item-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listSiteItems">
        <xs:sequence>
          <xs:element name="arg0" type="ns12:site-item-search-criteria" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listSiteItemsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-item-find-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteSiteItem">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteSiteItemResponse">
        <xs:sequence>
          <xs:element name="return" type="ns11:site-item-response" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="listSiteItems">
    <part name="parameters" element="tns:listSiteItems"/>
  </message>
  <message name="listSiteItemsResponse">
    <part name="parameters" element="tns:listSiteItemsResponse"/>
  </message>
  <message name="ServiceException">
    <part name="fault" element="ns13:ServiceException" xmlns:ns13="http://pricegrabber.rlviana.net/ws/service/exception"/>
  </message>
  <message name="deleteSiteItem">
    <part name="parameters" element="tns:deleteSiteItem"/>
  </message>
  <message name="deleteSiteItemResponse">
    <part name="parameters" element="tns:deleteSiteItemResponse"/>
  </message>
  <message name="findSiteItemById">
    <part name="parameters" element="tns:findSiteItemById"/>
  </message>
  <message name="findSiteItemByIdResponse">
    <part name="parameters" element="tns:findSiteItemByIdResponse"/>
  </message>
  <message name="updateSiteItem">
    <part name="parameters" element="tns:updateSiteItem"/>
  </message>
  <message name="updateSiteItemResponse">
    <part name="parameters" element="tns:updateSiteItemResponse"/>
  </message>
  <message name="searchSiteItems">
    <part name="parameters" element="tns:searchSiteItems"/>
  </message>
  <message name="searchSiteItemsResponse">
    <part name="parameters" element="tns:searchSiteItemsResponse"/>
  </message>
  <message name="createSiteItem">
    <part name="parameters" element="tns:createSiteItem"/>
  </message>
  <message name="createSiteItemResponse">
    <part name="parameters" element="tns:createSiteItemResponse"/>
  </message>
  <portType name="SiteItemPortTypeImpl">
    <operation name="listSiteItems">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/listSiteItemsRequest" message="tns:listSiteItems"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/listSiteItemsResponse" message="tns:listSiteItemsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/listSiteItems/Fault/ServiceException"/>
    </operation>
    <operation name="deleteSiteItem">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/deleteSiteItemRequest" message="tns:deleteSiteItem"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/deleteSiteItemResponse" message="tns:deleteSiteItemResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/deleteSiteItem/Fault/ServiceException"/>
    </operation>
    <operation name="findSiteItemById">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/findSiteItemByIdRequest" message="tns:findSiteItemById"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/findSiteItemByIdResponse" message="tns:findSiteItemByIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/findSiteItemById/Fault/ServiceException"/>
    </operation>
    <operation name="updateSiteItem">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/updateSiteItemRequest" message="tns:updateSiteItem"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/updateSiteItemResponse" message="tns:updateSiteItemResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/updateSiteItem/Fault/ServiceException"/>
    </operation>
    <operation name="searchSiteItems">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/searchSiteItemsRequest" message="tns:searchSiteItems"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/searchSiteItemsResponse" message="tns:searchSiteItemsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/searchSiteItems/Fault/ServiceException"/>
    </operation>
    <operation name="createSiteItem">
      <input wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/createSiteItemRequest" message="tns:createSiteItem"/>
      <output wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/createSiteItemResponse" message="tns:createSiteItemResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://pricegrabber.rlviana.net/ws/service/siteItem/SiteItemPortTypeImpl/createSiteItem/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="SiteItemPortBinding" type="tns:SiteItemPortTypeImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listSiteItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteSiteItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSiteItemById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateSiteItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchSiteItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSiteItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SiteItemService">
    <port name="SiteItemPort" binding="tns:SiteItemPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

