pricegrabber-ws/pricegrabber-ws-impl/src/main/resources/xsd/service-exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" 
targetNamespace="http://pricegrabber.rlviana.net/ws/service/exception" 
xmlns:tns="http://pricegrabber.rlviana.net/ws/service/exception" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified">
   <xs:element name="serviceFault" nillable="true" type="tns:serviceFault"/>
   <xs:complexType name="serviceFault">
      <xs:sequence>
         <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
         <xs:element name="faultString" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   
</xs:schema>